<!-- Tangle -->
<script type="text/javascript" src="/assets/tangle/Tangle.js"></script>

<!-- TangleKit (optional) -->
<link rel="stylesheet" href="/assets/tangle/tanglekit/TangleKit.css" type="text/css">
<script type="text/javascript" src="/assets/tangle/tanglekit/mootools.js"></script>
<script type="text/javascript" src="/assets/tangle/tanglekit/sprintf.js"></script>
<script type="text/javascript" src="/assets/tangle/tanglekit/TangleKit.js"></script>
<script type="text/javascript" src="/assets/tangle/tanglekit/BVTouchable.js"></script>