---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$serif              : "PT Serif", Georgia, Times, serif;
$sans-serif-narrow  : "PT Sans Narrow", -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;

$global-font-family : $serif;
$header-font-family : $sans-serif-narrow;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// ************* //
// Customization //
// ************* //

// Variables
$note-color : #f2f2f2;
 
// Smaller font for footer copyright
.page__footer-copyright {
  font-size: $type-size-8;
}

// Small pagination buttons on large screens
.pagination--pager {
  border-radius: 12px;
  width: 50%;
  @include breakpoint($large) {
    width: 25%;
  }
}

// Always show excerpts (even on small screens)
.archive__item-excerpt {
  display: block !important;
}

// Note & JXGBox
.note {
  @extend .sidebar__right;

  @include breakpoint($large) {
    position: relative;
    float: right;
    padding-left: 20px;
  }

  .note--content {
    padding: 15px 10px;
    font-size: 0.65em;
    border-radius: 4px;
    background-color: $note-color;
    border-style: none;

    & p:last-child {
      margin: 0;
    }
  } 
}

.jxgbox {
  border-width: 0 !important;
  // border-radius: 4px !important;
  // -webkit-border-radius: 4px !important;
  &.jxgbox__note {
    // border-width: 0;
    background-color: $note-color;
  }
}

